---
import { nameToPermalink } from "../utils/permalink";

interface Props {
	title: string;
}

const { title } = Astro.props;

const { name, url } = nameToPermalink(title);
---

<h2 id={url}>
	<a class="permalink" href={`#${url}`}>#</a>{name}
</h2>
