.vocs_HomePage_logo {
	height: 66px !important;
}

.footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5em;
	margin-top: 5rem;
	width: 100%;
}

.landing-code {
	max-width: 270px;
	width: 100%;
	text-align: center;
}

.landing-code .vocs_Tabs_list {
	display: flex;
	justify-content: center;
}

.api-explore {
	display: block;
}

.api-explore-comment {
	display: block;
	font-size: 0.84em;
	opacity: 0.8;
	margin-bottom: 4px;
}

.api-explore .vocs_CodeBlock {
	border: 0;
}

.api-explore .vocs_CodeBlock pre {
	padding: 0;
	background: transparent;
	border-radius: 0;
}

.api-explore .vocs_CodeBlock pre > code > [data-line] {
	padding: 0;
	border: 0;
}

.api-explore .vocs_CopyButton {
	display: none !important;
}

.api-anchor .vocs_Heading {
	font-size: 0;
}

.live-code-preview {
	border: 1px solid var(--vocs-color_codeInlineBorder);
	border-radius: var(--vocs-borderRadius_4);
	margin-top: calc(calc(0px - var(--vocs-borderRadius_4)) - var(--vocs-space_24));
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: var(--vocs-color_background);
	padding: 30px 20px 30px 20px;
	position: relative;
	z-index: 1;
}

.live-code-preview > span {
	display: block;
	position: absolute;
	top: -1px;
	font-size: 0.6em;
	line-height: 1em;
	padding: 6px 10px;
	background-color: var(--vocs-color_codeBlockBackground);
	border: 1px solid var(--vocs-color_codeInlineBorder);
	border-top: 0;
	border-radius: 0 0 var(--vocs-borderRadius_4) var(--vocs-borderRadius_4);
}

.live-counter {
	text-align: center;
}

.live-counter > h1 {
	display: block;
	font-size: 2.4em;
	line-height: 1em;
	font-weight: bold;
	margin-bottom: 14px;
}

.live-counter > button {
	display: inline-block;
	align-items: center;
	margin: 0 4px;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	width: 2em;
	height: 2em;
	border: 0;
	background: var(--vocs-color_codeTitleBackground);
}

.live-counter > button:hover {
	color: #fff;
	background: var(--vocs-color_backgroundAccent);
}

.live-counter > button:active {
	color: #fff;
	background: var(--vocs-color_backgroundAccentHover);
}
