---
import "./default.css";
---

<style>
	.container {
		margin-left: auto;
		margin-right: auto;
		max-width: 64rem;
		width: 100%;
	}

	.sidebar {
		position: fixed;
		height: 100vh;
		width: 14rem;
		padding-top: 3rem;
		display: flex;
		flex-direction: column;

		& nav {
			margin-top: 1.125rem;
			display: flex;
			flex-direction: column;
			row-gap: 1rem;
			overflow: auto;
			padding-bottom: 1rem;
			overscroll-behavior: contain;
		}
	}

	.content {
		overflow: hidden;
		padding-bottom: 6rem;
		padding-top: 3rem;
		margin-left: 14rem;
		padding-left: 1rem;
	}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="container">
			<aside class="sidebar">
				<a href="/">Exome</a>

				<nav>
					<section>
						<h2 class="nav-section-title">Start here</h2>
						<ul class="nav-section-links-list">
							<li class="nav-section-links-list-item">
								<a href="/getting-started" class="nav-section-link">
									Getting-started
								</a>
							</li>

							<li class="nav-section-links-list-item">
								<a href="/database" class="nav-section-link"> Database</a>
							</li>

							<li class="nav-section-links-list-item">
								<a href="/upgrade-v3" class="nav-section-link">
									Upgrade to v3
								</a>
							</li>
						</ul>
					</section>

					<section>
						<h2 class="nav-section-title">Tutorials</h2>
						<ul class="nav-section-links-list">
							<li class="nav-section-links-list-item">
								<a href="/tutorials/github-oauth" class="nav-section-link">
									GitHub OAuth
								</a>
							</li>

							<li class="nav-section-links-list-item">
								<a
									href="/tutorials/username-and-password"
									class="nav-section-link"
								>
									Username and password
								</a>
							</li>
						</ul>
					</section>

					<section>
						<h2 class="nav-section-title">Basics</h2>
						<ul class="nav-section-links-list">
							<li class="nav-section-links-list-item">
								<a href="/basics/sessions" class="nav-section-link">
									Sessions
								</a>
							</li>

							<li class="nav-section-links-list-item">
								<a href="/basics/users" class="nav-section-link"> Users</a>
							</li>

							<li class="nav-section-links-list-item">
								<a href="/basics/configuration" class="nav-section-link">
									Configuration
								</a>
							</li>
						</ul>
					</section>

					<section>
						<h2 class="nav-section-title">Guides</h2>
						<ul class="nav-section-links-list">
							<li class="nav-section-links-list-item">
								<a
									href="/guides/validate-session-cookies"
									class="nav-section-link"
								>
									Validate session cookies
								</a>
							</li>

							<li class="nav-section-links-list-item">
								<a
									href="/guides/validate-bearer-tokens"
									class="nav-section-link"
								>
									Validate bearer tokens
								</a>
							</li>

							<li class="nav-section-links-list-item">
								<a href="/guides/oauth" class="nav-section-link"> OAuth</a>
							</li>

							<li class="nav-section-links-list-item">
								<a href="/guides/email-and-password" class="nav-section-link">
									Email and password
								</a>
							</li>

							<li class="nav-section-links-list-item">
								<a href="/guides/troubleshooting" class="nav-section-link">
									Troubleshooting
								</a>
							</li>

							<li class="nav-section-links-list-item">
								<a href="/guides/passkeys" class="nav-section-link">
									Passkeys
								</a>
							</li>

							<li class="nav-section-links-list-item">
								<a href="/guides/improving-sessions" class="nav-section-link">
									Improving sessions
								</a>
							</li>
						</ul>
					</section>

					<section>
						<h2 class="nav-section-title">API reference</h2>
						<ul class="nav-section-links-list">
							<li class="nav-section-links-list-item">
								<a href="/reference/main" class="nav-section-link"> lucia</a>
							</li>
						</ul>
					</section>

					<section>
						<h2 class="nav-section-title">Community</h2>
						<ul class="nav-section-links-list">
							<li class="nav-section-links-list-item">
								<a
									href="https://discord.com/invite/PwrK3kpVR3"
									class="nav-section-link"
								>
									Discord
								</a>
							</li>

							<li class="nav-section-links-list-item">
								<a
									href="https://github.com/lucia-auth/lucia"
									class="nav-section-link"
								>
									GitHub
								</a>
							</li>

							<li class="nav-section-links-list-item">
								<a
									href="https://twitter.com/lucia-auth"
									class="nav-section-link"
								>
									Twitter
								</a>
							</li>
						</ul>
					</section>
				</nav>
			</aside>

			<main class="content">
				<slot />
			</main>
		</div>
	</body>
</html>
